body{
background-color: azure;
color: rgb(46, 255, 238);
}

#camera{
    border: 2px black;
    width: 350px;
    height: 350px;
}

.name_of_objects, #resultobjectname , #resultobjectaccuracy { color: blue; }